.highlight {
  background-color: #399cee;
}

.navbar-style {
  background-color: #0e5526 !important;
}

.badge {
  background-color: #808080 !important;
}

.green-highlight {
  color: green;
  font-size: 2.5rem;
}

.red-highlight {
  color: red;
  font-size: 1.5rem;
}
